VITE_API_URL=http://localhost:8080
VITE_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_EVM_CHAIN_ID=80002
VITE_EVM_RPC_URL=https://rpc-amoy.polygon.technology
VITE_BRIDGE_RELAYER_WS=ws://localhost:8081
